@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f7fb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
}

#root {
  max-width: 800px;
  padding: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.start-screen {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
}

.quiz-title {
  font-family: Karla;
  font-weight: bold;
  font-size: 41px;
  color: #293264;
  padding: 10px 0;
}

.quiz-description {
  font-family: Inter;
  font-weight: regular;
  font-size: 16px;
  max-width: 280px;
  line-height: 1.6;
}

.start-quiz-button {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #f5f7fb;
  background-color: #4d5b9e;
  padding: 10px 20px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}

.start-quiz-button:hover {
  background-color: hsl(230, 34%, 56%);
}

.question {
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #293264;
  max-width: 100%;
  flex-wrap: wrap;
}

.answers {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 10px 0;
}

.answer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 20px;
  height: 20.65px;
  font-family: Inter;
  font-size: 14px;
  /* font-weight: 600; */
  /* line-height: 12px; */
  text-align: center;
  color: #293264;
  border: 0.794239px solid #4d5b9e;
  border-radius: 7.94239px;
  cursor: pointer;
}

.answer:hover {
  background-color: hsl(230, 61%, 90%);
}

.question-divider {
  border: 0.794239px solid #dbdef0;
  margin: 20px 0;
}

.quiz-button-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.quiz-score {
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #293264;
}

.quiz-button {
  padding: 15px 25px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #f5f7fb;
  background-color: #4d5b9e;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}

.quiz-button:hover {
  background-color: hsl(230, 34%, 56%);
}

footer {
  font-family: Inter, sans-serif;
  font-size: 12px;
  display: flex;
  align-items: center;
  color: #293264;
  padding: 30px 0;
}

footer a {
  color: #293264;
}
#custom-game-form {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  gap: 8px;
  font-family: Inter, sans-serif;
  font-size: 14px;
}
.custom-game-dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 5px;
}

select {
  font-family: Inter, sans-serif;
  font-size: 14px;
  padding: 5px;
}

label {
  font-size: 16px;
}

select#category,
select#difficulty {
  padding: 10px 20px;
  min-width: 280px;
  max-width: 280px;
  border-radius: 8px;
}

.game-controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (min-width: 360px) {
  .quiz-button-section {
    display: flex;
    flex-direction: row;
  }
}

/* .correct-answer {
  background-color: #94d7a2;
} */

/* .incorrect-answer {
  opacity: 0.5;
} */

/* .selected-incorrect-answer {
  background-color: #f8bcbc;
} */

/* .selected {
  background-color: hsl(230, 61%, 90%);
} */
